doctype html
html
    head
        style
            include style.css
    body
        div.header
            | HELLO CHAT
            br
            |
        div
            block content
        div.footer
            | Best regards
            br
            a(href=frontendURL) DEC course NODE.js
